#app {
  .main-container {
    position: relative;
    margin-left: $sideBarWidth;
    min-height: 100%;
    transition: all 0.28s;
  }
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sideBarWidth;
    height: 100%;
    background-color: $menuBgColor;
    z-index: 1001;
    transition: all 0.28s;

    .sidebar-logo-link {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .sidebar-logo {
      margin-right: 8px;
    }

    .el-scrollbar {
      height: calc(100% - 50px);
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .el-menu {
      border: 0;
    }
    
    .el-sub-menu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active.el-menu-item {
      color: $menuActiveText !important;
    }

    .el-sub-menu__title {
      &:hover {
        color: $menuActiveText !important;
        background-color: $menuHover !important;
      }
    }

    .el-menu-item {
      &:hover {
        color: $menuActiveText !important;
        background-color: $menuHover !important;
      }
    }
  }
  .hide-title {
    .sidebar-container {
      width: 54px;
    }
    .main-container {
      margin-left: 54px;
    }
    .fixed-header {
      width: calc(100% - 54px);
    }
    .el-sub-menu {
      overflow: hidden;

      &>.el-sub-menu__title {
        padding: 0;

        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      width: 54px;

      .el-sub-menu {
        &>.el-sub-menu__title {
          &>.sidebar-title {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
      .el-menu-item {
        .svg-icon {
          margin-right: 16px;
        }
      }
    }
  }
}

.el-menu--collapse {
  .el-menu-item {
    min-width: $sideBarWidth !important;
  }
}
