// https://cli.vuejs.org/guide/css.html#css-modules
// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409EFF;

$menuBgColor: #304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBgColor: $menuBgColor;
  menuHover: $menuHover;
  sideBarWidth: $sideBarWidth;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
}